head
  link(rel='stylesheet', href='http://cdn.jsdelivr.net/zurb/foundation-apps-1.1.0.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
  script(src='http://cdn.jsdelivr.net/zurb/foundation-apps-1.1.0.min.js')
  script(src='http://cdn.jsdelivr.net/zurb/foundation-apps-templates-1.1.0.min.js')
body
  h1 work?
  h2 #{user}
  
